/* bitsofgood-style.css */

/* Apply the Bitsofgood.org color scheme */
body {
    background-color: #1d1d1d;
    color: #fff;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;

}
.nav-bar {
    margin: 0;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
  }
  
  .nav-bar a:hover {
    color: #ff7574;
    transition: color 0.3s;
  }
  
  ul.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-bar li {
    padding: 10px;
    padding-right: 30px;
  }
  .links {
    display: flex;
    flex-direction: row;
  }
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #ff7574;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.create-button {
    background-color: #f38d6a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #ffc55a;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #fff3db;
    color: #f38d6a;    
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
}

.box:hover {
    background-color: #f38d6a;
    color: #fff3db;    

}
#skill{
    color: #ffc55a;
    font-size: 60px;
    font-weight: bold;
}
/* Add styles for the pop-up window */
.popup-container {
  width: 75%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width if necessary */
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/* Style the "Topic" header */
.popup-container h2 {
  font-size: 24px;
  color: #333;
}

/* Style the sections (Tasks and Resources) */
.popup-section {
  display: inline-block;
  width: 48%; /* Adjust the width to split the sections */
  margin: 10px;
  text-align: center;
}

/* Style the checkboxes */
.popup-section input[type="checkbox"] {
  margin-right: 5px;
}

/* Style the "Close" button */
.popup-container button {
  background-color: #f38d6a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.popup-container button:hover {
  background-color: #ffc55a;
}