/* Add this CSS to your style.css or create a new CSS file for it */
body {
    background-color: #1d1d1d;
    color: #fff;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 60px;

}

.nav-bar {
  background-color: #fff3db;
  color: #f38d6a;
  height: 50px;
  margin: 0;
  position: fixed; /* Position the navigation bar at the top */
  top: 0; /* Stick it to the top */
  left: 0; /* Align it to the left */
  width: 100%; /* Make it span the entire width */
  display: flex;
  align-items: center;
}
.nav-bar a {
  text-decoration: none;
  color: #ff7574;
  margin-left: 40px;
  font-weight: bolder;
  font-family: sans-serif;
  
}

.nav-bar a:hover {
  color: #ffd994;
  transition: color 0.3s;
}

ul.nav-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.nav-bar li {
  padding: 10px;
  padding-right: 30px;
}
.links {
  display: flex;
  flex-direction: row;
}

  .container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    align-items: center;
    color:#ffe8b9;

}
h2{
  color: #ff7574;
}

.left-section, .right-section {
    width: 50%;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

.progress-bar {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    height: 20px;
    height: 20px;
    background-color: #c9ff9f; /* Default background color for progress */
    width: var(--progress-width); /* Use the variable for progress width */
    border-radius: 5px;
    transition: width 0.5s; /* Smooth transition */
}

#your-skill{
  font-weight: bold;
  font-size: 30px;
}

.progress {
    background-color: #3498db;
    height: 100%;
    width: 0;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
}
.progress-container {
  width: 100%;
  background-color: #ddd;
  border: 2px solid #777;
  border-radius: 5px;
  position: relative;
}

:root {
  --progress-width: 0%; /* Default width for progress bar */
}

