/* style.css */


body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    color: #333;
}

.nav-bar {
    margin: 0;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: sans-serif;
  }
  
  .nav-bar a:hover {
    color: #ff7574;
    transition: color 0.3s;
  }
  
  ul.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-bar li {
    padding: 10px;
    padding-right: 30px;
  }
  .links {
    display: flex;
    flex-direction: row;
  }
  
.container {
    text-align: center;
}

h1{
    margin-bottom: 60px;
}
#input2{
    width: 200px;
}
/* styles.css */

.loader {
    border: 6px solid #ffc55a;
    border-top: 6px solid #ff7574;
    border-radius: 50%;
    margin-left: 100px;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

p {
    font-size: 16px;
    color: #555;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

