/* style.css */


body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    color: #ffd994;
    font-family: var(--header-font);
}
:root {
    --header-font: 'HK Grotesk', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
input[type="text"] {
  background-color: #ffd994; /* Background color */
  border-radius: 10px; /* Rounded corners */
}

/* Style the placeholder text for input boxes */
input[type="text"]::placeholder {
  color: #aa8000; /* Darker yellow color for the placeholder text */
}

#header {
  font-family: var(--header-font);
  color: white;
  font-size: var(--header-text-size);
  text-align: center;
  margin-top: 20px;
  animation: welcomeAnimation 2s ease-in-out; /* Add animation */
}

/* Define the animation keyframes */
@keyframes welcomeAnimation {
  0% {
      transform: scale(1); /* Initial scale */
      opacity: 0; /* Start with 0% opacity */
  }
  50% {
      transform: scale(1.2); /* Scale up to 120% size */
      opacity: 1; /* Reach 100% opacity */
  }
  100% {
      transform: scale(1); /* Return to normal scale */
      opacity: 1; /* Maintain 100% opacity */
  }
}

.nav-bar {
    background-color: #ff7574;
    color: #fff;
    height: 50px;
    margin: 0;
    position: fixed; /* Position the navigation bar at the top */
    top: 0; /* Stick it to the top */
    left: 0; /* Align it to the left */
    width: 100%; /* Make it span the entire width */

  }
  img {
      max-width: 160px; /* Adjust the width as needed */
      margin-bottom: 20px; /* Adjust the margin as needed */
  
  }
  .nav-bar a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-weight: bolder;
    font-family: sans-serif;
    top: 30px;
  }
  
  .nav-bar a:hover {
    color: #ffd994;
    transition: color 0.3s;
  }
  
  ul.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  
  .nav-bar li {
    padding: 10px;
    padding-right: 30px;
  }
  .links {
    display: flex;
    flex-direction: row;
  }
  
.container {
    text-align: center;
}

h1{
    margin-bottom: 60px;
}
#input2{
    width: 200px;
}
/* styles.css */

.loader {
    border: 6px solid #ffc55a;
    border-top: 6px solid #ff7574;
    border-radius: 50%;
    margin-left: 100px;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

p {
    font-size: 16px;
    color: #555;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

